<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Kelompok6.Properties.Settings.DBTiketKeretaConnectionString"
            connectionString="Data Source=LAPTOP-NAUFALAS\NAUFALAS;Initial Catalog=DBTiketKereta;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>